.input {
	width: 100%;
  	padding: 12px 20px;
  	margin: 8px 0;
  	display: inline-block;
  	border: 1px solid #ccc;
  	border-radius: 4px;
  	box-sizing: border-box;
}
.info{
	background-color: rgb(217, 238, 233);
	color: rgb(17, 17, 19);
}

.histories{
	height: 700px;

}